name: Build With CMake

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
     - uses: actions/checkout@v1
     - name: Configure
       run: cmake -DTemplate_BUILD_TEST=ON .
     - name: Make
       run: make
     - name: TestProject
       run: ./Source/Template > out.ans && diff out.ans Test/inp.ans
       
