name: Build With CMake

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
     - uses: actions/checkout@v2

     - name: Git Initialize Sub-Modules
       run: git submodule update --init

     - name: Git Clone Sub-Modules
       run: git submodule update --init --merge

     - name: Configure
       run: cmake -DTemplate_BUILD_TEST=ON .

     - name: Build
       run: make

     - name: Test Output
       run: ./Source/Template > out.ans && diff out.ans Test/inp.ans
       
     - name: Unit Test
       run: ./Test/TemplateTest
       
